html, body {
    color: #4d4d4d;
    font-family: Tahoma,Arial,Helvetica,sans-serif;
    font-size: 13px;
}

#content {
    margin: 0 auto;
    width: 970px;
}

form {
    margin: 0;
    padding: 0 0 0 10px;
}
#content .label{
    color: #4d4d4d;
    display: block;
    font-size: 13px;
    font-weight: normal;
    padding-bottom: 2px;
}

#content .input_field {
    width: 450px;
}
.input_field {
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #a5acb2;
    color: #4d4d4d;
    padding: 4px 3px;
    width: 360px;
}

#content .textarea {
    height: 99px;
    margin-top: 0;
    resize: none;
    width: 449px;
}

.textarea {
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #a5acb2;
    display: inline-block;
    height: 120px;
    padding: 3px;
    vertical-align: middle;
    width: 360px;
}

input, textarea, select {
    outline: medium none;
}

input {
    margin: 0;
    padding: 0;
}

#page {
    line-height: 16px;
    overflow: hidden;
    padding: 0 10px 30px;
}

.books-list {
    font-size: 0;
    letter-spacing: -1px;
    line-height: 0;
    margin-bottom: 15px;
    overflow: hidden;
}

.books-list .bookBox {
    display: inline-block;
    font-size: 13px;
    letter-spacing: normal;
    line-height: 17px;
    margin-top: -1px;
    vertical-align: top;
    width: 233px;
}

.bookBox_inner {
    margin: 0 auto;
    padding: 10px 5px 20px;
    width: 200px;
}

.books-list .book_name {
    line-height: 14px;
    margin-bottom: 9px;
    max-height: 34px;
    min-height: 34px;
    overflow: hidden;
    text-align: center;
}

.books-list .book_image {
    height: 210px;
    margin-bottom: 10px;
    text-align: center;
    width: 200px;
}
.book_image {
    position: relative;
    text-align: center;
}

.books-list .book_image img {
    vertical-align: middle;
}

img, a, span {
    outline: medium none;
}

img {
    border: 0 none;
    margin: 0;
    padding: 0;
    height: 210px;
    width: 200px;
}

.book_price {
    background: none repeat scroll 0 0 #e3e4da;
    color: #000000;
    float: left;
    padding: 6px 0 7px 13px;
    text-align: left;
    width: 187px;
}

.book_author {
    color: #babdac;
    white-space: nowrap;
    overflow: hidden;
    padding: 7px 0 0 13px;
    text-overflow: ellipsis;
}

.book_author:hover {
    background: #f0f0f0;
    white-space: normal;
}

.action{
    padding: 10px;
}

.action a{
    border: dotted 1px #000000;
    padding: 3px;
}

.action a:hover{
    background: none repeat scroll 0 0 #e3e4da;
}

.errors{
    color: #ff0000;
    display: inline-block;
    font-size: 14px;
}

.books-add,
.libs-add{
    text-align: center;
}

.books-add table,
.libs-add table{
    margin: 0 auto;
}

.books-add .label-add,
.libs-add .label-add {
    display: table-cell;
    width: 50%;
    padding: 5px;
}

.books-add, .form td,
.libs-add td, .form td {
    padding: 5px 0;
    vertical-align: middle;
    text-align: right;
}

.textarea_field, .textarea {
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #a5acb2;
    display: inline-block;
    height: 120px;
    padding: 3px;
    vertical-align: middle;
    width: 450px;
}
input, textarea, select {
    outline: medium none;
}

.buttons {
    background: none repeat scroll 0 0 #f0f0f0;
    border: 1px solid #c9c9c9;
    margin-top: 13px;
    overflow: auto;
    padding: 7px 9px;
    width: 450px;
}

.button{
    width: 150px;
    margin: 3px;
}

